.place{
  place-items: center;
  display: grid;
  margin: auto;
}
.wraper .button:hover{
  width: 200px;
}

.wraper .button{
  display: inline-block;
  height: 60px;
  width: 60px;
  float: left;
  margin: 0 20px;
  overflow: hidden;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-weight: bold;
  font-size: 20px;
  box-sizing: border-box;
  background: rgb(16, 14, 14);
  border-radius: 50px;
  cursor: pointer;
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0, 1);
  transition: all 0.3s ease-out;

}
.wraper .button .icon{
  display: inline-block;
  height: 60px;
  width: 60px;
  text-align: center;
  border-radius: 50px;
  box-sizing: border-box;
  line-height: 60px;
  transition: all 0.3s ease-out;
}
.wraper .button:nth-child(1):hover .icon{
  background: #2e9be5;
}
.wraper .button:nth-child(2):hover .icon{
  background: #179df7;
}
.wraper .button:nth-child(3):hover .icon{
  background: #e74c3c;
}
.wraper .button:nth-child(4):hover .icon{
  background: #c0392b;
}
.wraper .button .icon i{
font-size: 25px;
line-height: 60px;
transition: all 0.3s ease-out;
}
.wraper .button:nth-child(1)
span{color: #4267B2;}
.wraper .button:nth-child(2)
span{color: #1DA1F2;}
.wraper .button:nth-child(3)
span{color: #E1306C;}
.wraper .button:nth-child(4)
span{color: #ff0000;}